<?xml version="1.0"?> 

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robot_description"> 
    <xacro:include filename="$(find arm_pkg)/urdf/a0912.urdf.xacro" />
    <xacro:include filename="$(find arm_pkg)/urdf/depth_camera.xacro"/>
    <xacro:include filename="$(find robotiq_85_description)/urdf/robotiq_85_gripper_macro_gz.urdf.xacro" />



    <xacro:manipulator namespace=""/>

    <link name="world">
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <box size="5.0 5.0 0.05"/> 
        </geometry>
        <material name="Grey">
            <color rgba="0.7 0.7 0.7 1.0"/>
        </material>
    </visual>
    <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <box size="5.0 5.0 0.05"/> 
        </geometry>
    </collision>    
    </link>

    <joint name="manipulator_fixed" type="fixed">
        <origin xyz="0 0 0.0025" rpy="0 0 0"/>
        <parent link="world"/>
        <child link="base_0"/>
    </joint>

    <xacro:robotiq_85_gripper prefix="" parent="link6" >
       <origin xyz="0.0 0 0.0" rpy="0 -1.57 1.57"/>
    </xacro:robotiq_85_gripper>


</robot> 
